h1,
p {
  font-family: Lato;
}

body {
  width: 50%;
  margin: auto;
}

.task2 label {
  font-size: 14px;
}

.task2 div {
  margin: 10px 0;
}

.task2 input {
  height: 32px;
  display: block;
  border: 1px solid #ccc;
  width: 100%;
}

.addlist {
  background-color: blue;
  color: #fff;
  padding: 10px;
  border: none;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}
table td,
th {
  border: 1px solid #ccc;
  padding: 10px;
}
